<!-- Nav Bar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/userteams"><%=@user.username%>:</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/teams">Teams</a>
      </li>
     <li class="nav-item active">
        <a class="nav-link" href="#">Create a Team</a><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/players">Players</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/player/new">Create a Player</a>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>
     
  </div>
</nav>
<!-- Nav Bar -->
<br></br>

<div class="container" id="not-sign-in">

  <% if flash.has?(:message) %>
    <div class="row">
      <div class="col-md">
         <div class="alert alert-danger" role="alert">
              <%= flash[:message] %>
          </div>
      </div>
    </div><!-- end row -->
  <% end %>

  <div class="row">
      <div class="col-md">
        <h1>Create a Team</h1>
      </div> <!-- end col --> 
  </div><!-- end row -->

  <div class="row">
      <div class="col-md">
        <form action="/team/new" method="POST">
          <div class="form-group">
            <label for="exampleFormControlInput1">Team Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ex: Charlie's Warriors" name="team[teamname]">
          </div>

        <button type="submit" class="btn btn-success">Create Team</button>
             </div> <!-- end col --> 
  </div><!-- end row -->         

  <br>



 <div class="row">
    <div class="col-md">
      <h3>Add Players</h3>
        </div> <!-- end col --> 
  </div><!-- end row -->
  <br>

<!-- Point Guards Col-->
  <div class="form-group">
    <label for="exampleFormControlSelect1">Point Guards</label>
    <select class="form-control" id="exampleFormControlSelect1" name="team[player_ids][]"> 
      <option> </option>
      <%@players.each do |player|%>
        <%if player.position == "PG" %>
          <option value="<%=player.id%>"><%=player.playername%></option>
        <%end%>
      <%end%>
    </select>
  </div>
<!-- Point Guards Col-->

<!-- Shooting Guards Col-->
  <div class="form-group">
    <label for="exampleFormControlSelect1">Shooting Guards</label>
    <select class="form-control" id="exampleFormControlSelect1" name="team[player_ids][]"> 
      <option> </option>
      <%@players.each do |player|%>
        <%if player.position == "SG" %>
          <option value="<%=player.id%>"><%=player.playername%></option>
        <%end%>
      <%end%>
    </select>
  </div>
<!-- Shooting Guards Col-->

<!-- Small Forwards Col-->
  <div class="form-group">
    <label for="exampleFormControlSelect1">Small Forwards</label>
    <select class="form-control" id="exampleFormControlSelect1" name="team[player_ids][]"> 
      <option> </option>
      <%@players.each do |player|%>
        <%if player.position == "SF" %>
          <option value="<%=player.id%>"><%=player.playername%></option>
        <%end%>
      <%end%>
    </select>
  </div>
<!-- Small Forwards Col-->

<!-- Power Forwards Col-->
  <div class="form-group">
    <label for="exampleFormControlSelect1">Power Forwards</label>
    <select class="form-control" id="exampleFormControlSelect1" name="team[player_ids][]"> 
      <option> </option>
      <%@players.each do |player|%>
        <%if player.position == "PF" %>
          <option value="<%=player.id%>"><%=player.playername%></option>
        <%end%>
      <%end%>
    </select>
  </div>
<!-- Power Forwards Col-->

<!-- Centers Col-->
  <div class="form-group">
    <label for="exampleFormControlSelect1">Centers</label>
    <select class="form-control" id="exampleFormControlSelect1" name="team[player_ids][]"> 
      <option> </option>
      <%@players.each do |player|%>
        <%if player.position == "C" %>
          <option value="<%=player.id%>"><%=player.playername%></option>
        <%end%>
      <%end%>
    </select>
  </div>
<!-- Centers Col-->
 </form>
 <br></br>



