<h1>Hi <%=@user.username%>. Here is a list of all of your teams</h1>
<span>-----------------------------------------------------------------------------------------------------------------------------------------------</span>
<ul>
<%@user.teams.each do |team|%>
	<li><strong>Team Name:</strong> <%=team.teamname%></li>
	<a href="/team/<%=@user.id%>/edit"><em>Edit</em></a>
	<h3>Players</h3>
		<ul>
		<%team.players.each do |player|%>
			<li><strong><a href="/player/<%=player.slug%>"><%=player.playername%>: </strong></a>
				<%=player.position%>
			</li>
			<br></br>
		<%end%>
		</ul>
		<h4>---------------------------------------------------------------------------------------</h4>
<%end%>
</ul>

<br></br>

<h2><a href="/team/new">Create a Team</a></h2>

<br></br>
<h3><a href="/logout">Log Out</a>