<!-- Nav Bar -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="#"><%=@user.username%>:</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/teams">Teams</a>
      </li>
     <li class="nav-item ">
        <a class="nav-link" href="/team/new">Create a Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/player/new">Create a Player</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>
  </div>
</nav>

<br></br>


<h1> Edit Player: <%=@player.playername%></h1>

	<form action="/player/<%=@player.id%>/edit" method="POST">
	  <input type="hidden" name="_method" value="PATCH">

	  <label>Name</label><input type="text" name="player[playername]" id="player_name" value="<%= @player.playername%>">
	  <br></br>

	  <label>Position</label><input type="text" name="player[position]" id="player_position" value="<%= @player.position%>">
	  <br></br>

	  <label>Field Goal %</label><input type="text" name="player[fg_perc]" id="player_fg_perc" value="<%= @player.fg_perc%>">
	  <br></br>

	  <label>Three Point %</label><input type="text" name="player[three_pt_perc]" id="player_three_pt_perc" value="<%= @player.three_pt_perc%>">
	  <br></br>

	  <label>Free Throw %</label><input type="text" name="player[free_throw_perc]" id="player_free_throw_perc" value="<%= @player.free_throw_perc%>">
	  <br></br>

	  <label>Offensive Rebounds</label><input type="text" name="player[oreb]" id="player_oreb" value="<%= @player.oreb%>">
	  <br></br>

	  <label>Rebounds</label><input type="text" name="player[reb]" id="player_reb" value="<%= @player.reb%>">
	  <br></br>

	  <input type="submit" value="Edit Player">
	</form>



