<h1> Here is the info about <%=@player.playername%> </h1>

<h3> Plays for: <%=@player.team.teamname%> </h3>

<h3>Position: <%=@player.position%></h3>
<h3>Field Goal Percentage: <%=@player.fg_perc%></h3>
<h3>Three Point Percentage: <%=@player.three_pt_perc%></h3>
<h3>Free Throw Percentage: <%=@player.free_throw_perc%></h3>
<h3>Offensive Rebounds: <%=@player.oreb%></h3>
<h3>Rebounds: <%=@player.reb%></h3>

